In [2]:
import pandas as pd 
import numpy as np
kunu=pd.read_csv('agridata_csv_202110311352.csv')
kunu

,commodity_name,state,district,market,min_price,max_price,modal_price,date
0,Ajwan,Gujarat,Amreli,Amreli,63.25,79.55,79.55,2019-05-22
1,Ajwan,Gujarat,Banaskanth,Dhanera,80.05,80.05,80.05,2019-05-22
2,Ajwan,Gujarat,Jamnagar,Jamnagar,90.00,155.00,122.50,2019-05-22
3,Ajwan,Gujarat,Mehsana,Kadi,94.50,112.50,107.00,2019-05-22
4,Ajwan,Gujarat,Mehsana,Unjha,21.25,148.50,99.75,2019-05-22
...,...,...,...,...,...,...,...,...
836972,Arhar (Tur/Red Gram)(Whole),Gujarat,Bharuch,Jambusar(Kaavi),5100.00,5500.00,5300.00,06 Oct 2021
836973,Arhar (Tur/Red Gram)(Whole),Gujarat,Rajkot,Jasdan,3500.00,5500.00,5000.00,06 Oct 2021
836974,Arhar (Tur/Red Gram)(Whole),Gujarat,Rajkot,Rajkot,5300.00,6225.00,5650.00,06 Oct 2021
836975,Arhar (Tur/Red Gram)(Whole),Gujarat,Junagarh,Visavadar,4750.00,5750.00,5250.00,06 Oct 2021
836976,Arhar (Tur/Red Gram)(Whole),Kerala,Kasargod,Neeleswaram,10500.00,11500.00,11000.00,06 Oct 2021

In [4]:
kunu.drop(['date'], axis=1)

,commodity_name,state,district,market,min_price,max_price,modal_price
0,Ajwan,Gujarat,Amreli,Amreli,63.25,79.55,79.55
1,Ajwan,Gujarat,Banaskanth,Dhanera,80.05,80.05,80.05
2,Ajwan,Gujarat,Jamnagar,Jamnagar,90.00,155.00,122.50
3,Ajwan,Gujarat,Mehsana,Kadi,94.50,112.50,107.00
4,Ajwan,Gujarat,Mehsana,Unjha,21.25,148.50,99.75
...,...,...,...,...,...,...,...
836972,Arhar (Tur/Red Gram)(Whole),Gujarat,Bharuch,Jambusar(Kaavi),5100.00,5500.00,5300.00
836973,Arhar (Tur/Red Gram)(Whole),Gujarat,Rajkot,Jasdan,3500.00,5500.00,5000.00
836974,Arhar (Tur/Red Gram)(Whole),Gujarat,Rajkot,Rajkot,5300.00,6225.00,5650.00
836975,Arhar (Tur/Red Gram)(Whole),Gujarat,Junagarh,Visavadar,4750.00,5750.00,5250.00
836976,Arhar (Tur/Red Gram)(Whole),Kerala,Kasargod,Neeleswaram,10500.00,11500.00,11000.00

In [5]:
kunu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836977 entries, 0 to 836976
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   commodity_name  836976 non-null  object
 1   state           836977 non-null  object
 2   district        836977 non-null  object
 3   market          836977 non-null  object
 4   min_price       836976 non-null  float64
 5   max_price       836976 non-null  float64
 6   modal_price     836976 non-null  float64
 7   date            836976 non-null  object
dtypes: float64(3), object(5)
memory usage: 51.1+ MB

In [6]:
kunu['commodity_name'].unique()

array(['Ajwan', 'Alasande+Gram', 'Amaranthus', 'Amla(Nelli+Kai)',
       'Amphophalus', 'Antawala', 'Apple', 'Arhar+Dal(Tur+Dal)',
       'Ashgourd', 'Avare+Dal', 'Banana', 'Banana+-+Green',
       'Barley+(Jau)', 'Beans', 'Beaten+Rice', 'Beetroot', 'Betal+Leaves',
       'Bitter+gourd', 'Black+pepper', 'Bottle+gourd', 'Brinjal',
       'Broken+Rice', 'Cabbage', 'Capsicum', 'Cardamoms', 'Carrot',
       'Cashewnuts', 'Castor+Seed', 'Cauliflower', 'Coconut',
       'Chapparad+Avare', 'Chennangi+Dal', 'Chikoos(Sapota)', 'Chili+Red',
       'Chilly+Capsicum', 'Cloves', 'Cluster+beans', 'Cocoa',
       'Coconut+Oil', 'Coconut+Seed', 'Coffee', 'Colacasia', 'Copra',
       'Coriander(Leaves)', 'Corriander+seed', 'Cowpea(Veg)', 'Cotton',
       'Cucumbar(Kheera)', 'Cummin+Seed(Jeera)', 'Drumstick',
       'Dry+Chillies', 'Dry+Fodder', 'Dry+Grapes', 'Duster+Beans', 'Egg',
       'Elephant+Yam+(Suran)', 'Field+Pea', 'Firewood', 'Fish', 'Garlic',
       'Ghee', 'Gingelly+Oil', 'Ginger(Dry)', 'Ginger(Green)', 'Grapes',
       'Green+Avare+(W)', 'Green+Chilli', 'Green+Fodder', 'Green+Peas',
       'Ground+Nut+Seed', 'Groundnut', 'Groundnut+(Split)',
       'Groundnut+pods+(raw)', 'Guar', 'Guava', 'Gur(Jaggery)', 'Hen',
       'Hybrid+Cumbu', 'Indian+Beans+(Seam)', 'Isabgul+(Psyllium)',
       'Jack+Fruit', 'Jamun(Narale+Hannu)', 'Jowar(Sorghum)', 'Jute',
       'Karbuja(Musk+Melon)', 'Knool+Khol', 'Kulthi(Horse+Gram)',
       'Lak(Teora)', 'Leafy+Vegetable', 'Lemon', 'Lime', 'Linseed',
       'Litchi', 'Long+Melon(Kakri)', 'Mahua', 'Maida+Atta', 'Maize',
       'Mango', 'Mango+(Raw-Ripe)', 'Mashrooms', 'Masur+Dal',
       'Methi+Seeds', 'Methi(Leaves)', 'Millets', 'Mint(Pudina)',
       'Moath+Dal', 'Mousambi(Sweet+Lime)', 'Mustard', 'Mustard+Oil',
       'Myrobolan(Harad)', 'Nutmeg', 'Onion', 'Onion+Green', 'Orange',
       'Paddy(Dhan)(Basmati)', 'Paddy(Dhan)(Common)', 'Papaya',
       'Papaya+(Raw)', 'Peach', 'Peas+cod', 'Peas+Wet', 'Peas(Dry)',
       'Pepper+garbled', 'Pepper+ungarbled', 'Pineapple', 'Plum',
       'Pomegranate', 'Potato', 'Pumpkin', 'Raddish',
       'Ragi+(Finger+Millet)', 'Rajgir', 'Rice', 'Ridgeguard(Tori)',
       'Round+gourd', 'Rubber', 'Safflower', 'Snakeguard', 'Soanf',
       'Soyabean', 'Spinach', 'Sponge+gourd', 'Sugar', 'Sunflower',
       'Surat+Beans+(Papadi)', 'Suva+(Dill+Seed)', 'Suvarna+Gadde',
       'Sweet+Potato', 'Sweet+Pumpkin', 'T.V.+Cumbu', 'Tamarind+Fruit',
       'Tapioca', 'Taramira', 'Tender+Coconut', 'Tinda', 'Tobacco',
       'Tomato', 'Toria', 'Turmeric', 'Turmeric+(raw)', 'Turnip',
       'Water+Melon', 'Wheat', 'Wheat+Atta', 'White+Peas',
       'White+Pumpkin', 'Wood', 'Yam+(Ratalu)', 'Bamboo', 'Yam',
       'Kodo+Millet(Varagu)', 'Goat', 'Pear(Marasebu)', 'Balekai',
       'Gram+Raw(Chholia)', 'Cow', 'Same/Savi', 'Sugarcane',
       'She+Buffalo', 'Sheep', 'Soji', 'Chow+Chow', 'Pigs', 'Calf',
       'Duck', 'Ox', 'Dhaincha', 'Season+Leaves', 'Cock', 'Hippe+Seed',
       'Tamarind+Seed', 'Other+Pulses', 'Coca', 'Niger+Seed+(Ramtil)',
       'Ram', 'Thondekai', 'Galgal(Lemon)', 'Honge+seed', 'Lotus+Sticks',
       'Neem+Seed', 'Bran', 'Cherry', 'Mace', 'Kartali+(Kantola)',
       'She+Goat', 'Alsandikai', 'Mahedi', 'Bull', 'Thogrikai', 'Khoya',
       'Seetapal', 'Almond(Badam)', 'Butter', 'Rose(Loose)', 'Kinnow',
       'He+Buffalo', 'Marigold(loose)', 'Mataki', 'Sajje',
       'Marigold(Calcutta)', 'Ambada+Seed', 'Chrysanthemum(Loose)',
       'Cotton+Seed', 'Seemebadnekai', 'Gramflour',
       'Persimon(Japani+Fal)', 'Lint', 'Indian+Colza(Sarson)', 'Sabu+Dan',
       'Jasmine', 'Gurellu', 'Walnut', 'Bunch+Beans', 'Snake+gourd',
       'Ridge+gourd(Tori)', 'Dalda', 'Sabu+Dana', 'Tube+Rose(Loose)',
       'Rose(Local)', 'Seetafal', 'Siddota', 'Lukad', 'Sunhemp',
       'Alasande Gram', 'Amla(Nelli Kai)', 'Anthorium', 'its', nan,
       'Arecanut(Betelnut/Supari)', 'Arhar (Tur/Red Gram)(Whole)'],
      dtype=object)

In [7]:
kunu['commodity_name'].value_counts()

Onion            44908
Tomato           42715
Wheat            41172
Potato           37810
Brinjal          33687
                 ...
Lukad                2
Siddota              1
Sunhemp              1
its                  1
Almond(Badam)        1
Name: commodity_name, Length: 249, dtype: int64

In [9]:
kunu['commodity_name'].count()

836976

In [10]:
factors= pd.pivot_table(kunu,index = ['commodity_name'], aggfunc= 'median')
factors

                max_price  min_price  modal_price
commodity_name
Ajwan             125.000     84.000      108.530
Alasande Gram    5868.000   4690.000     5199.000
Alasande+Gram      56.290     39.800       47.880
Almond(Badam)      70.000     60.000       65.000
Alsandikai       3000.000   2500.000     2800.000
...                   ...        ...          ...
White+Peas         50.600     49.000       49.960
White+Pumpkin      10.545      7.845        9.925
Wood                4.275      2.950        3.500
Yam                49.500     39.500       43.500
Yam+(Ratalu)       34.000     28.000       30.000

[248 rows x 3 columns]

In [11]:
factors.info()

<class 'pandas.core.frame.DataFrame'>
Index: 248 entries, Ajwan to Yam+(Ratalu)
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   max_price    248 non-null    float64
 1   min_price    248 non-null    float64
 2   modal_price  248 non-null    float64
dtypes: float64(3)
memory usage: 7.8+ KB